.header{
margin-left: 115px;
margin-right: 115px;
}
.head {
    display: flex;
    align-items: center;
}
.head img{
    width: 90px;
}
.header-nav {
    background-color: rgb(63, 98, 168);
    color: #fff;
}

.header-container{
    padding: 10px;
}
.col-3 {
    background-color: rgb(235, 235, 235);
    color: rgb(67, 67, 67);
    align-items: center;
}

.col-3 button {
    margin: 2%;
}
.container {
    background-color: rgb(226, 226, 226);
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-container {
    display: flex;
    border-style: solid;
    margin: 10px;
}
.line-up {
    border-top: rgb(66, 66, 66) solid 2px;
}

.col-3 img{

    height: 350px;
}

.learn-more{
    color: #fff;
    background-image:url("images/ad_background.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home{
    display: flex;
    align-items: center;
}
.home img, .phone img{
    width: 30px;
}
.phone{
    display: flex;
    align-items: center;
}
.bottom-container img{
    width: 100px;
}
#c-s{
   display: flex;
   justify-content: center;
}
#c-s img{
    width: 300px;
}